---
layout : layouts/base.njk
---

	<!-- Intro -->
	<section class="intro">
		<header>
			<h1>
				<a href="{{ data.product }}">{{ data.app_title }}</a>
			</h1>
			<p>
				Site de simplu de prezentare. Un produs WebsiteMarket. 
			</p>
			<ul class="actions">
				<li><a href="#first" class="arrow scrolly"><span class="label">Mai Mult</span></a></li>
			</ul>
		</header>
		<div class="content">
			<span class="image fill" data-position="center"><img src="images/pic01.jpg" alt="" /></span>
		</div>
	</section>

	<!-- Section -->
	<section id="first">
		<header>
			<h2>
				Despre noi
			</h2>
		</header>
		<div class="content">
			<p>
				Suntem o echipa de profesionisti cu peste 8 ani de experienta in <strong>servicii de curatenie</strong>, 
				si cu un portofoliu de peste 50 de companii care apeleaza la serviciile noastre.
			</p>
			
			<span class="image main"><img src="images/pic02.jpg" alt="" /></span>
		</div>
	</section>

				<!-- Section -->
				<section>
					<header>
						<h2>
							Servicii Oferite
						</h2>
					</header>
					<div class="content">
						<p>
							<strong>Curatenie spatii birouri</strong> - in cazul in care detii o firma si doresti externalizarea serviciilor de curatenie, noi iti suntem alaturi. 
							<br />
							<strong>Curatenie Generala</strong> - Stim ca esti ocupat cu serviciul si familia. Cum ar fi sa pleci la cumparaturi si casa ta sa fie curata cand te intorci. 
							Alege oferta noastra de servicii de curatenie dedicata persoanelor fizice. 
							<br />
							<strong>Alte servicii de curatenie</strong>: curatenie dupa renovare, curatenie de intretinere, spalare covoare, curatenie dupa constructor.

						</p>
						<ul class="feature-icons">
							<li class="icon solid fa-envelope">
								<a href="mailto:{{ data.email }}">{{ data.email }}</a>
							</li>
							<li class="icon solid fa-phone">
								<a href="tel:{{ data.phone }}">{{ data.phone }}</a>
							</li>
						</ul>
						<p>
							Un site de prezentare cu un design modern te va ajuta sa comunici optim cu viitorii cienti, fara a aloca o resursa umana.
							Alege sa fii prezent in mediul online prin acest design modern, special conceput pentru compania ta de curatenie.
						</p>
					</div>
				</section>

				<!-- Section -->
				<section>
					<header>
						<h2>
							Portofoiu
						</h2>
					</header>
					<div class="content">

						<p>
							Avem o experienta de peste 10 ani in acest domeniu si am reusit sa oferim <strong>servicii de curatenie</strong> atat firmelor cat si persoanelor fizice.
						</p>

						<!-- Section -->
						<section>
							<header>
								<p>
									Alege sa iti folosesti timpul cu activitati recreative si lasa <strong>activitatile de curatenie</strong>, profesionistilor. 
								</p>
							</header>
							<div class="content">
								<div class="gallery">
									<a href="images/gallery/fulls/01.jpg" class="landscape"><img src="images/gallery/thumbs/01.jpg" alt="" /></a>
									<a href="images/gallery/fulls/02.jpg"><img src="images/gallery/thumbs/02.jpg" alt="" /></a>
									<a href="images/gallery/fulls/03.jpg"><img src="images/gallery/thumbs/03.jpg" alt="" /></a>
								</div>
							</div>
						</section>

					</div>
				</section>

				<!-- Section -->
				<section>
					<header>
						<h2>
							Cere Informatii 
						</h2>
					</header>
					<div class="content">
						
						<p>
							In cazul in care ai nevoie de mai multe informatii, ne poti suna oricand. 
							Suntem bucurosi sa vorbim cu viitorii nostri clienti. 
						</p>
						
						<ul class="actions">
							<li><a href="tel:{{ data.phone }}" class="button primary large">Suna Acum</a></li>
						</ul>
					</div>
				</section>
